<%= form_for @user, :url => create_path, :method => :post do |f| %>
  <div class="form-group">
    <div class="row">
      <%= f.label :email, 'Email', class: 'control-label col-md-1' %>
  		<div class="col-md-6">
  			<%= f.text_field :email, :placeholder => 'Email', :class => 'form-control' %>
  		</div>
      <%= submit_tag "Send Invite", class: "col-md-2 btn btn-primary" %>
    </div>
  </div>
<% end %>
